@import "bourbon"
@import "vars.sass"
@import "reset.sass"
@import "app/libs/owl.carousel/dist/assets/owl.carousel.min"

body
	font-family: "PT Sans Narrow", sans-serif
	overflow-x: hiddens	

.hidden
	display: none

h1
	font-family: "Lobster", cursive
	font-size: em(160px)
	font-weight: 500

h2
	font-size: em(36px)
	font-weight: 400
	letter-spacing: 2px

h3
	font-family: "Roboto", sans-serif
	letter-spacing: 9px	
	font-weight: 600

h4
	font-size: em(28px)
	font-weight: 500
	letter-spacing: 5px	

p	
	font-weight: 400
	letter-spacing: 1px

a 
	font-family: "PT Sans Caption", sans-serif
	font-weight: 700
	letter-spacing: 1px

button
	
	letter-spacing: 1px
	background-color: inherit
	border: 0
	text-transform: uppercase
	padding: 2px 0

// header
.main-head 
	text-align: center

	// navbar
	&__nav
		background-color: $accent-color
		text-align: center
		border: none

		// sf-menu
		.sf-menu
			margin: 0 auto -8px
			float: none
			display: inline-block
			font-family: "PT_Sans", sans-serif
			font-size: em(15px)			
			&__item
				display: inline-block
				background-color: transparent										
				&:hover
					background-color: $accent-color
			&__link
				display: inline-block
				color: $main-color
				padding: 30px 34px 30px
				border: none
				&:hover
					color: $accent-color
					background-color: $main-color
				.fa
						margin-left: 8px
			// sub-menu					
			.sub-menu
				&__item
					background-color: $accent-color					
				&__link
					background-color: $accent-color
					color: $main-color
					border: none
					text-align: left
					padding: 25px							
					&:hover
						background-color: $main-color
						color: $accent-color

	// mobile menu
	&__mob		
	.toggle-menu
		display: block
		width: 28px
		height: 28px
		margin-top: 14px
		background-color: $accent-color
		color: $main-color

		span:after, span:before 
			content: ""
			position: absolute
			left: 0
			top: 9px

		span:after
			top: 18px

		span 
			position: relative
			display: block

		span, span:after, span:before
			width: 100%
			height: 2px
			background-color: $main-color
			transition: all 0.3s
			backface-visibility: hidden
			border-radius: 2px


		&.on span 
			background-color: transparent

		&.on span:before 
			transform: rotate(45deg) translate(-1px, 0px)

		&.on span:after 
			transform: rotate(-45deg) translate(6px, -7px)
		
	// logo
	.logo
		margin: 0 auto
		margin-bottom: 50px
		&__title
			color: $accent-color
			margin-bottom: -85px
		&__caption
			color: darken($accent-color, 10%)
			padding: -20px
	
// slider

.slider-wrap	
	.nav-wrap
		position: relative
		.owl-nav
			color: darken($accent-color, 5%)
			font-size: 32px
			position: absolute
			width: 100%
			z-index: 2			
			&__arrow
				cursor: pointer
				position: absolute	
				top: 110px			
				&:last-child
					right: 0
.slider
	&__title
		position: relative
		margin: 30px auto 30px
		max-width: 750px
		padding-top: 10px
		padding-bottom: 50px

				
		// short-lines
		&::before,
		&::after		
			position: relative
			content: ""
			width: 30px
			height: 3px
			background: lighten($accent-color, 40%)
			display: block
			margin: 20px auto
			left: 50%
			margin-left: -15px			
		&::before
			top: 0
		&::after
			bottom: 0
// service
.service
	position: relative
	background-image: url(/img/books.jpg)
	&__image
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		&::before
			content: ""
			position: absolute
			opacity: 0.7
			background-color: $accent-color
			top: 0
			left: 0
			width: 100%
			height: 100%
.service-box
	text-align: center	
	&__item
		display: inline-block
		position: relative
		z-index: 1
		margin: 50px 30px
		text-align: left
		max-width: 300px
		padding: 10px	
		background-color: $main-color	
