@import "bourbon"
@import "vars.sass"
@import "reset.sass"

body
	font-family: "Roboto", sans-serif
	overflow-x: hidden

.hidden
	display: none
	

h1
	font-family: "Marck Script", cursive
	font-size: 160px
	font-weight: 500	


// strong, b
// 	font-family: "PT Sans Narrow", sans-serif

h2
	font-family: "PT Sans Narrow", sans-serif
	font-size: 36px
	font-weight: 400
	letter-spacing: 2px

h3
	font-family: "PT Sans Caption"
	letter-spacing: 7px

h4
	font-family: "PT Sans Narrow", sans-serif
	font-size: 20px
	font-weight: 700
	letter-spacing: 3px

p	
	font-weight: 500

a 
	font-family: "PT Sans Caption", sans-serif
	font-weight: 700

// sf-menu
.main-head 
	box-shadow: 0 0 5px lighten($main-color, 30%)
.main-head__nav
	background-color: $accent-color
	text-align: center
	border-bottom: 1px solid lighten($main-color, 30%)
	.sf-menu
		margin: 0 auto -8px
		float: none
		display: inline-block
		font-family: "PT_Sans", sans-serif
		font-size: em(15px)
		.sf-menu__item
			display: inline-block
			background-color: transparent
			border-left: 1px solid lighten($main-color, 30%)
			&:first-child
				border: none						
			&:hover
				background-color: $main-color
			.sf-menu__link
				display: inline-block
				color: $main-color
				padding: 30px 34px 30px
				&:hover
					color: $accent-color
					background-color: $main-color
				.fa
					margin-left: 8px
					
		.sub-menu__item
			background-color: $accent-color
			border-bottom: 1px solid lighten($main-color, 30%)
			box-shadow: 0 0 8px lighten($main-color, 15%)
			.sub-menu__link
				background-color: $accent-color
				color: $main-color
				text-align: left
				padding: 25px				
				&:hover
					background-color: $main-color
					color: $accent-color
				